.new-card-form {
    margin-top: 10px;
}

.new-card-form input {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

.new-card-form button {
    background-color: #ffd700;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.new-card-form button:hover {
    background-color: #ffa500;
}